html,
body {
    margin: 0;
    height: 100%;
    min-height: 100%;
}

html {
    font-size: 13px;
}

body {
    display: grid;
    grid-template-columns: [v-start] calc(2rem + 3.285714vw) [left-icons] calc(10rem + 9.285714vw) [chat-list] 1fr [v-chat] calc(7rem + 7.78571vw) [user-info];
    grid-template-rows: [h-start] calc(4rem + 2.285714vw) [chat-header] 1fr [h-chat] calc(4rem + 1.4285714vw) [form-end];
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}

.icons {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    grid-column-start: v-start;
    grid-column-end: left-icons;
    grid-row-start: h-start;
    grid-row-end: form-end;
    background: radial-gradient(circle at -132% -16%, rgba(225, 225, 225, 0.15) 13%,
            rgba(166, 166, 166, 0.2) 44%, rgb(0, 0, 0) 66%);
    background-color: rgba(0, 0, 0, 1);
    position: relative;
}

.dots {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: 52px;
    width: calc(2.5rem + 1.39285vw);
    margin: 10px 0px 20px;
}

.icons img {
    max-width: 40px;
    width: calc(1.53846rem + 1.42857vw);
    margin: 0px 0px 20px;
    opacity: 0.32;
}

.icons img:active {
    opacity: 1;
}

.dots img {
    max-width: 10px;
    width: calc(0.385rem + 0.34vw);
    margin: 0;
    opacity: 1;
}

.plus-chat {
    position: relative;
    grid-column-start: v-start;
    grid-column-end: left-icons;
    grid-row-start: h-chat;
    grid-row-end: form-end;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.75);
}

.icon-cross {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 40px;
    width: calc(1.53846rem + 1.42857vw);
    max-height: 40px;
    height: calc(1.53846rem + 1.42857vw);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    background-image: url("../Images/Cross.png");
    background-repeat: no-repeat;
    background-size: calc(0.61538rem + 0.48611vw);
    ;
    background-position-x: center;
    background-position-y: center;
    box-shadow: -2px 0px 16px rgba(0, 0, 0, 0.16);
}

.icon-cross:active {
    border: 2px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 0px 0px black;
}

.list-chat {
    grid-column-start: left-icons;
    grid-column-end: chat-list;
    grid-row-start: h-start;
    grid-row-end: form-end;
    background: radial-gradient(circle at -132% -50%, rgba(225, 225, 225, 0.15) 13%,
            rgba(166, 166, 166, 0.2) 44%, rgb(37, 39, 42) 66%);
    background-color: rgb(37, 39, 42);
    color: white;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    z-index: 2;
}

.margin-controller {
    margin: 0px calc(0.5rem + 1.32142vw) 20px;
}

.name-server {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 36px;
}

.name-server h1 {
    display: inline-block;
    font-size: calc(1rem + 0.48611vw);
    line-height: 24px;
    margin: 0px 5px 0px 0px;
}

.arrow {
    max-width: 12px;
    width: calc(0.4615rem + 0.4167vw);
    max-height: 8px;
    height: calc(0.3077rem + 0.2778vw);
    opacity: 0.7;
}

.settings {
    position: absolute;
    top: calc(2rem + 1.111vw);
    right: calc(1rem)
}

.settings img {
    max-width: 16px;
    max-height: 16px;
    opacity: 0.6;
}

.settings img:hover {
    animation: rolling 2s linear infinite;
}

.treads {
    margin-top: 30px;
}

.treads img {
    margin-right: 11px;
    max-width: 18px;
    max-height: 18px;
    vertical-align: middle;
    opacity: 0.5;
}

.treads span {
    line-height: 17px;
    vertical-align: middle;
    opacity: 0.6;
}

.list-chat-button {
    appearance: none;
    position: absolute;
    z-index: 2;
    left: calc(12rem + 12.571428vw);
    width: 16px;
    height: 100%;
    background-color: rgba(37, 39, 42, 0);
    border: none;
    box-shadow: inset 6px 0px 8px rgba(64, 64, 64, 0.5);
}

.list-chat-button img {
    transform: rotate(90deg) translate(0%, 132%);
    border-radius: 4px;
    background-color: rgb(37, 39, 42);
    padding: 2px 8px 0px;
}

.list-chat-button:hover {
    box-shadow: inset 6px 0px 12px rgba(64, 64, 64, 0.75);
}

.header-channels,
.header-friends {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: calc(0.76923rem + 0.14285vw);
    line-height: 14px;
}

.header-channels {
    margin-top: 32px;
}

.header-friends {
    margin-top: 18px;
}

.header-channels span,
.header-friends span {
    text-transform: uppercase;
    opacity: 0.6;
}

nav::-webkit-scrollbar,
.list-friends::-webkit-scrollbar {
    max-width: 18px;
}

nav::-webkit-scrollbar-track,
.list-friends::-webkit-scrollbar-track {
    background-color: rgba(64, 64, 64, 0.6);
}

nav::-webkit-scrollbar-track-piece,
.list-friends::-webkit-scrollbar-track-piece {
    margin: 8px 0px;
}

nav::-webkit-scrollbar-thumb,
.list-friends::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    background-clip: padding-box;
    border: 6px transparent solid;
}

nav {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 240px;
}

.list-channels {
    margin: 0px 25px;
    list-style: none;
    padding-left: 0px;
}

.list-channels li {
    line-height: 16.8px;
    padding: 4px 0px 9px 13px;
    color: rgba(255, 255, 255, 0.6);
}

.list-channels li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

.list-friends {
    list-style: none;
    padding-left: 0px;
    margin-left: calc(0.5rem + 1.215278vw);
    overflow-y: auto;
}

.list-friends li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 8px;
}

.user-status {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(112, 204, 22, 1);
    margin-right: 6px;
}

.user-name {
    margin-left: 12px;
    font-size: calc(0.76923rem + 0.285714vw);
    line-height: 16.8px;
    color: rgba(255, 255, 255, 0.6);
}

.header-chat {
    grid-column-start: chat-list;
    grid-column-end: v-chat;
    grid-row-start: h-start;
    grid-row-end: chat-header;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.24);
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.header-cha {
    display: inline-block;
    font-size: calc(1rem + 0.5vw);
    font-weight: 700;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    margin: 0px 6px 0px 24px;
}

.star-cha {
    display: none;
    max-height: calc(0.76923rem + 0.35714vw);
    max-width: calc(0.76923rem + 0.42857vw);
    ;
    opacity: 0.4;
}

.block-stats-count {
    display: none;
    position: absolute;
    right: calc(1rem + 0.785714vw);
}

.chelik {
    max-width: 11px;
    max-height: 15px;
    opacity: 0.4;
    margin-right: 4px;
}

.user-count {
    font-size: calc(0.76923rem + 0.285714vw);
    line-height: 16.8px;
    color: rgba(164, 164, 164, 1);
}

.form-search {
    display: inline-block;
    margin: 0px calc(0.76923rem + 1vw);
    width: calc(5rem + 12.291667vw);
}

#search,
#type,
#search-840 {
    font-size: calc(0.76923rem + 0.285714vw);
    line-height: 16.8px;
    border-radius: 4px;
}

#search {
    width: 100%;
    height: 33px;
    max-height: 33px;
    border: 1px solid rgba(0, 0, 0, 0.24);
}

#search-840 {
    display: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: calc(5rem + 12.291667vw);
    height: 33px;
    z-index: 4;
}

#search:focus,
#search-840:focus {
    border: 1px solid rgba(53, 119, 239, 1);
    box-shadow: 2px 2px 8px rgba(53, 119, 239, 0.75);
}

.buttons-invis {
    appearance: none;
    border: none;
    padding: 0;
    background-color: white;
}

.button-loupe {
    margin-left: -22px;
}

.button-loupe img {
    max-width: 16px;
    max-height: 16px;
    opacity: 0.5;
}

.button-loupe:hover img,
.button-loupe:active img {
    max-width: 12px;
    max-height: 12px;
}

.button-bell {
    margin: 0px calc(0.76923rem + 1vw) 0px 0px;
}

.button-bell img {
    max-width: 15px;
    max-height: 16px;
    opacity: 0.5;
}

.button-etc img {
    max-width: 5px;
    max-height: 16px;
    opacity: 0.5;
}

.chat {
    grid-column-start: chat-list;
    grid-column-end: v-chat;
    grid-row-start: chat-header;
    grid-row-end: h-chat;
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    justify-content: left;
    overflow-x: hidden;
    overflow-y: auto;
}

.matched-messages {
    display: none;
    position: absolute;
    right: calc(7rem + 7vw);
    top: calc(5rem + 1.388889vw);
    box-shadow: 4px 4px 8px rgba(53, 119, 239, 0.75);
    border: 2px solid black;
    border-radius: 6px;
    border-top-left-radius: 0px;
    background-color: white;
    z-index: 4;
    width: calc(20rem + 12vw);
    flex-flow: column nowrap;
    max-height: 33.3%;
    overflow: hidden auto;
}

.chat::-webkit-scrollbar,
.matched-messages::-webkit-scrollbar {
    width: 20px;
}

.chat::-webkit-scrollbar-track,
.matched-messages::-webkit-scrollbar-track {
    background-color: transparent;
}

.chat::-webkit-scrollbar-track-piece,
.matched-messages::-webkit-scrollbar-track-piece {
    margin: 15px auto;
}

.chat::-webkit-scrollbar-thumb,
.matched-messages::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    border: 7px transparent solid;
}

.form-chat {
    grid-column-start: chat-list;
    grid-column-end: v-chat;
    grid-row-start: h-chat;
    grid-row-end: form-end;
    background-color: rgba(255, 255, 255, 1);
    border-top: 2px solid rgba(0, 0, 0, 0.24);
}

.block-input-icons {
    display: none;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin: calc(0.5rem + 1.284722vw) calc(0.584615rem + 1vw);
}

.file-uploader-label {
    margin-right: calc(1rem + 0.48611vw);
}

#file-uploader {
    display: none;
}

.button-staple {
    max-width: 14px;
    max-height: 22px;
    opacity: 0.5;
}

.button-micro img {
    max-width: 16px;
    max-height: 22px;
    opacity: 0.5;
}

#form-type {
    width: 80%;
    margin: 0px 0px 0px 24px;
}

#type {
    width: 100%;
    height: 32px;
    max-height: 32px;
    border: 0px;
}

.button-emoji {
    margin: 0px 0px 0px 24px;
}

.button-emoji img {
    max-width: 22px;
    max-height: 22px;
    opacity: 0.5;
}

.user-info {
    grid-column-start: v-chat;
    grid-column-end: user-info;
    grid-row-start: h-start;
    grid-row-end: form-end;
    background: radial-gradient(circle at 200% 0%, rgba(255, 255, 255, 1) 32%,
            rgba(223, 223, 223, 0.9) 44%, rgba(223, 223, 233) 60%);
    background-color: rgba(223, 223, 233, 1);
}

.margin-controller-2 {
    margin-left: calc(0.384615rem + 1.071428vw);
}

.user-cv {
    display: inline-block;
    font-size: calc(0.76923rem + 0.42857vw);
    ;
    font-weight: 700;
    line-height: 19.2px;
    color: rgba(0, 0, 0, 1);
    margin: 12px 0px 20px 0px;
}

.social-links {
    margin: 0px 0px 18px 0px;
    display: flex;
    flex-flow: row nowrap;
}

.social-netw {
    display: inline-block;
    text-align: center;
    width: 22px;
    height: 22px;
    margin-right: 6px;
    border-radius: 50%;
    background-color: rgba(232, 232, 235, 1);
}

.fb {
    max-width: 6.5px;
    max-height: 13.5px;
    vertical-align: middle;
    opacity: 0.5;
}

.tt {
    max-width: 13.5px;
    max-height: 10.5px;
    vertical-align: middle;
    opacity: 0.5;
}

.ig {
    max-width: 13px;
    max-height: 13.5px;
    vertical-align: middle;
    opacity: 0.5;
}

.ld {
    max-width: 12.5px;
    max-height: 12.5px;
    vertical-align: middle;
    opacity: 0.5;
}

.message-etc {
    display: flex;
    flex-flow: row nowrap;
}

.button-msg {
    max-width: 134px;
    width: calc(4rem + 6.571428vw);
    max-height: 25px;
    height: calc(1.53846rem + 0.3472vw);
    background: rgba(53, 119, 239, 1);
    border: none;
    border-radius: 4px;
    font-weight: 700;
    color: white;
    line-height: 15.6px;
    font-size: 13px;
    margin-right: 3px;
    vertical-align: middle;
}

.button-msg:hover {
    box-shadow: inset 2px 2px 12px rgba(0, 0, 0, 0.25);
}

.button-msg:active {
    box-shadow: inset 4px 4px 16px rgba(0, 0, 0, 0.25);
    font-size: 11px;
}

.button-more {
    max-width: 25px;
    width: calc(0.76923rem + 0.85714vw);
    max-height: 25px;
    height: calc(1.53846rem + 0.3472vw);
    background: rgba(53, 119, 239, 1);
    border: none;
    border-radius: 4px;
    font-weight: 700;
    color: white;
    position: relative;
    vertical-align: middle;
}

.button-more img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 8px;
    max-height: 6px;
}

.button-more:hover {
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.button-more:active {
    box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.25);
}

.button-more:active img {
    max-width: 6px;
    max-height: 4.5px;
}

.user-ava {
    width: calc(7rem + 7.78571vw);
    height: calc(7rem + 7.78571vw);
}

.info-username {
    margin-top: 14px;
}

.info-header {
    display: block;
    font-size: calc(0.76923rem + 0.14285vw);
    color: rgba(95, 97, 100, 1);
    line-height: 14.4px;
}

.info-line {
    font-size: calc(0.76923rem + 0.285714vw);
    line-height: 16.8px;
    margin-top: 5px;
}

.info-email,
.info-contacts,
.info-timezone {
    margin-top: 10px;
}

.user-info-arrow {
    width: 16px;
    height: 10px;
    transform: rotate(-90deg);
    filter: invert(100%) opacity(0.5);
    position: absolute;
    bottom: 1.8055vw;
    right: 1.38889vw;
    padding: 4px;
}

.user-info-arrow:hover {
    width: calc(1rem + 0.48611vw);
    height: calc(0.538614rem + 0.416667vw);
    background-color: rgba(53, 119, 239, 1);
    border-radius: 25%;
    filter: none;
    box-shadow: -4px 4px 16px rgba(53, 119, 239, 1);
}

.user-info-arrow:active {
    width: 14px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.66);
    border-radius: 25%;
    filter: none;
    box-shadow: -2px 2px 8px rgba(53, 119, 239, 1);
}

.button-click:hover {
    border: 1px solid rgba(0, 0, 0, 0.66);
    border-radius: 2px;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.66);
}

.button-click:hover img {
    padding: 1px;
}

.button-click:active {
    box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.66);
}

.button-click:active img {
    width: 90%;
    height: 90%;
    padding: 2px;
}

@keyframes pop-up {
    0% {
        opacity: 0;
        margin-left: calc(7rem + 7.78571vw);
    }

    100% {
        opacity: 1;
        margin-left: 0px;
    }
}

@keyframes pop-up-inv {
    0% {
        opacity: 1;
        margin-left: 0px;
    }

    100% {
        opacity: 0;
        margin-left: calc(7rem + 7.78571vw);
    }
}

@keyframes pop-up-list-chat {
    0% {
        opacity: 0;
        margin-right: calc(10rem + 9.285714vw);
    }

    100% {
        opacity: 1;
        margin-right: 0px;
    }
}

@keyframes pop-up-inv-list-chat {
    0% {
        opacity: 1;
        margin-right: 0px;
    }

    100% {
        opacity: 0;
        margin-right: calc(10rem + 9.285714vw);
    }
}

@keyframes rolling {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}